@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
   background: black;
   color: #fff;
   font-style: normal;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url('./Components/images/359028.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   font-family: "Playfair Display", serif;
   font-optical-sizing: auto;
   font-weight: 400;
}
@media (max-width: 1024px) {
    #header{
        background-image: url('./Components/images/359028for1024.jpg');
    }
}
@media (max-width: 768px) {
    #header{
        background-image: url('./Components/images/359028for\ 768.jpg');
        background-position: center;
    }
}
/* @media (max-width: 425px) {
    #header{
        background-image: url('./Components/images/359028for225.jpg');
    }
} */
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;

justify-content: space-between;
}
.logo{
    width: 140px;
    color: #ff004f;
    text-decoration: none;
    font-size: 3em;
    text-transform: capitalize;
    cursor: pointer;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    text-transform: capitalize;
    cursor: pointer;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;

}
.header-text{
    width: 100%;
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.intro{
    text-transform: capitalize;
    font-weight: 500;
}
.header-text h1 span, i span{
    color: #ff004f;
}
#Jobtitle{
    text-transform: capitalize;
    font-size:30px;
    text-decoration: underline;
}
/*about*/
#about{
    padding: 80px 0;
    color: #ababaa;
}
.row{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
.col-1{
flex-basis: 35%;
}
.img{
    width: 100%;
    border-radius: 15px;
}
.col-2{
    flex-basis: 60%;
}
#my-name{
    text-transform: capitalize;
    color: #fff;
}
.subtitle{
    text-transform: capitalize;
    font-size: 60px;
    font-weight: 600;
    color: #fff;
   font-family: "Playfair Display", serif;
   font-optical-sizing: auto;
   font-weight: 400;
}
.tabtitle{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    text-transform: capitalize;
    margin-right: 50px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background-color: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;

}
.tab-contents ul li span{
    color: #b547b5;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
display: block;
}
/*services*/
#services{
padding: 30px 0;

}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
   font-family: "Playfair Display", serif;
   font-optical-sizing: auto;
   font-weight: 400;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300px;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list  div .crop{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
    color: white;
    text-transform: capitalize;
}
.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}
/**/
#portfolio{
padding: 50px 0;
font-family: "Playfair Display", serif;
font-optical-sizing: auto;
font-weight: 400;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
  
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    line-height: 16px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
}
.layer a .FaExternalLinkAlt{
    font-size: 25px;
}
.work:hover img{
    cursor: pointer;
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    transition: background 0.5s;
}
.btn:hover{
    background-color: #ff004f;
}
/*contact*/
#contact{
    display: flex;
    justify-content: center;
    width: 100%;
}
.contact-left{
    flex-basis: 100%;
   font-family: "Playfair Display", serif;
   font-optical-sizing: auto;
   font-weight: 400;
   background: red;
   align-items: center;
}
.contact-left p{
    margin-top: 30px;
}
 .leftIcon{
    color: #ff004f;
    margin-right: 5px;
    font-size: 18px;
}
.leftIcon:hover{
    color: #ffffff;
    transition: 1s ease;
    cursor: pointer;
}


.footericon{
    color: #ff004f;
    margin: 5px;
    font-size: 18px;
}
.social-icons{
    margin: 30px;
}
.social-icons a{
 text-decoration: none;
 font-size: 30px;
 margin-right: 15px;
 color: #ababab;
 display: inline-block;
}
.social-icons a:hover{
    color: #ff004f;
    cursor: pointer;
    transition: .5s ease-in;
   }
.contact-right{
    flex-basis: 35%;
}
.social-icon{
    margin-top: 30px;
}
.social-icon a{
 text-decoration: none;
 font-size: 30px;
 margin-right: 15px;
 color: #ababab;
 display: inline-block;
 transition: transfrom 0.5s;
}
.social-icon a:hover{
color: #ff004f;
transform: translateY(-5px);
}
.btn.btn2{
display: inline-block;
background: #ff004f;
}
.contact-right  form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 16px 0;
    color: white;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
padding: 14px 60px;
font-size: 18px;
margin-top: 20px;
cursor: pointer;
}
.copyrite{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
}
.copyrite p a{
    color: #fff;
    text-decoration: none;


}
.copyrite p a:hover{
    color: #ff004f;
transition: 1s ease-in;
}
.copyrite i {
    color: #ff004f;
}
nav .icon{
    display: none;
}

  #sideMenu.open {
    right: 0; 
  }
  #note{
    color: #ff004f;
    font-size: 15px;
    font-style: italic;
  }
  .education{
    color: #b547b5;
  }
  /* footer */
  #footer {
    background-color: #333; 
    color: #fff;
    padding: 40px 0;
    font-family: Arial, sans-serif;
  }
    
 #container {
    width: 80%;
    margin: 0 auto;
  }
  #row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer-section {
    width: 30%; 
    margin-bottom: 20px;
  }
  .footer-heading {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 15px;
    color:   #ff004f;
  }
 .footer-section p {
    font-size: 1em;
    line-height: 1.6;
  }
  .leftIcon {
    margin-right: 10px;
  }
  .footer-section p a {
    color: #ff004f;
    margin-right: 10px;
    font-size: 1.8em;
    text-decoration: none;
  }
  .footer-ul {
    list-style-type: none;
    padding: 0;
  }
  .footer-ul li {
    font-size: 1em;
    margin-bottom: 10px;
  }
   
  .footer-ul li::before {
    content: "• ";
    color: #ff004f;
  }
  
  
/*mobile*/

@media (max-width: 800px) {
 
    .header-text{
        font-size: 16px;


    }
    .header-text h1{
        font-size: 30px;
    }
    nav .icon{
        display: block;
        font-size: 25px;
    }
    nav ul {
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .icon{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .subtitle{
        font-size: 40px;
    }
    .col-1, .col-2{
        flex-basis: 100%;
    }
    .col-1{
        margin-bottom: 30px;
    }
    .col-2{
        font-size: 14px;

    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
flex-basis: 100%;
    }
    .copyrite{
        font-size: 14px;
    }
    .header-text{
        width: 100%;
        margin-top: 20%;
        font-size: 30px;
    }
    .footer-section {
        width: 100%;
        margin-bottom: 20px;
        background: red;
      }
      .social-icons a {
        font-size: 1.5em; 
      }
}
@media (max-width: 440px) {
    .logo{
        width: 140px;
        color: #ff004f;
        text-decoration: none;
        font-size: 1.8em !important;
        text-transform: capitalize;
        cursor: pointer;
    }
}